
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
	<script
	src="http://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
	crossorigin="anonymous"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

	<title>Lyons U</title>
	<h3 class="text-muted" id="lyons-name">LYONS U</h3>

	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li class="active"><a href="/api/">Home<span class="sr-only">(current)</span></a></li>

				{{#each images}}
				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ this.name }} <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li class="dropdown">
							<a href="/api/name?searchquery={{ this.name }}"><li class="dropdown-item">{{ this.name }}</li></a>
							<ul>
								{{#each this.categories}}
								<a href="/api/name?searchquery={{ this.id }}"><li class="dropdown-item"><p>{{ this.id }}</p></li></a>
								{{/each}}
							</ul>
						</li>
					</ul>
				</li>
				{{/each}}

			</ul>

			<ul class="navbar-nav navbar-right"><a href="/api/cart">Cart</a></ul>

			<form class="navbar-form navbar-right" role="search" method='GET'>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search" name="search">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	</nav>

	<!-- Add the slick-theme.css if you want default styling -->
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css"/>
	<!-- Add the slick-theme.css if you want default styling -->
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>
	<!-- AWESOME FONT -->
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

	<link rel="stylesheet" href="/css/stylesheet.css">
</head>

<body>
	<div class='container'>
		{{{ body }}}
	</div>

	{{!-- <div class='container'> --}}
		<hr class="my-4">  
		<footer class="footer"><p> tbui@lyonscg.com </p></footer>
	{{!-- </div> --}}

	<div class="messagepop pop">
		<form method="post" id="new_message" action="/api/messages">
			<p><label for="email">Your email or name</label><input type="text" size="30" name="email" id="email" /></p>
			<p><label for="body">Message</label><textarea rows="6" name="body" id="body" cols="35"></textarea></p>
			<p><input type="submit" value="Send Message" name="commit" id="message_submit"/> or <a class="close" href="/api">Cancel</a></p>
		</form>
	</div>

	<a id="contact">Contact Us</a>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script
	src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"
	integrity="sha256-JklDYODbg0X+8sPiKkcFURb5z7RvlNMIaE3RA2z97vw="
	crossorigin="anonymous"></script>

	<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>

	<script>
	$(document).ready(function() {
		function deselect(e) {
			$('.pop').slideFadeToggle(function() {
				e.removeClass('selected');
			});    
		}

		$(function() {
			$('#contact').bind('click', function() {
				if($(this).hasClass('selected')) {
					deselect($(this));               
				} else {
					$(this).addClass('selected');
					$('.pop').slideFadeToggle();
				}
				return false;
			})

			$('.close').bind('click', function() {
				deselect($('#contact'));
				return false;
			})

			$.fn.slideFadeToggle = function(easing, callback) {
				return this.animate({ opacity: 'toggle', height: 'toggle' }, 'fast', easing, callback);
			}
		})
	})
	</script>

	<style>
	a.selected {
		background-color:#1F75CC;
		color:white;
		z-index:100;
	}

	.messagepop {
		background-color:#FFFFFF;
		border:1px solid #999999;
		cursor:default;
		display:none;
		margin-top: 15px;
		position:absolute;
		text-align:left;
		width:394px;
		z-index:50;
		padding: 25px 25px 20px;
	}

	label {
		display: block;
		margin-bottom: 3px;
		padding-left: 15px;
		text-indent: -15px;
	}

	.messagepop p, .messagepop.div {
		border-bottom: 1px solid #EFEFEF;
		margin: 8px 0;
		padding-bottom: 8px;
	}
	</style>
</body>
</html>



