<div class='container'>

	<form data-toggle="validator" role="form">

		<div class="form-group">
			<label for="inputfName" class="control-label">First Name</label>
			<input type="text" class="form-control" id="inputfName" placeholder="John" required>
			<div class="help-block with-errors"></div>
		</div>

		<div class="form-group">
			<label for="inputlName" class="control-label">Last Name</label>
			<input type="text" class="form-control" id="inputlName" placeholder="Doe" required>
			<div class="help-block with-errors"></div>
		</div>

		<div class="form-group">
			<label for="inputEmail" class="control-label">Email</label>
			<input type="email" class="form-control" id="inputEmail" data-delay="5000" placeholder="Email" data-error="Enter a valid email." required>
			<div class="help-block with-errors"></div>
		</div>

		<div class="form-group">
			<label for="address" class="control-label">Address</label>
			<input type="text" class="form-control" id="address" placeholder="1234 Main Street" data-error="Please enter a valid address." required>
			<div class="help-block with-errors"></div>
		</div>

		<div class="form-group">
			<label for="opAddress" class="control-label">Address 2 (optional)</label>
			<input type="text" class="form-control" id="opAddress" placeholder="1234 Main Street" data-error="Please enter a valid address.">
		</div>

		<div class="form-group">
			<label for="credCard" class="control-label">Credit Card</label>
			<div class="form-group col-sm-6">
				<input type="password" data-minlength="16" class="form-control" id="credCard" placeholder="xxxx-xxxx-xxxx-xxxx" pattern="^[0-9]{1,}$" required>
				<div class="help-block">Enter a valid Credit Card.</div>
				<div class="help-block with-errors"></div>
			</div>

			<label for="ccv" class="control-label">cvv</label>
			<div class="form-group col-sm-6">
				<input type="password" class="form-control" id="ccv" placeholder="xxx" pattern="^[0-9]{1,}$" data-minlength="3" required>
				<div class="help-block">Enter the ccv from the back of your card.</div>
				<div class="help-block with-errors"></div>
			</div>
		</div>

		<div class="form-group">
			<label for="city" class="control-label">City</label>
			<input type="text" class="form-control" id="cty" placeholder="Dallas" required>
			<div class="help-block with-errors"></div>
		</div>

		<div class="form-group">
			<label for="inputState">State</label>
			<select id="inputState" class="form-control" name="inputState">
				<option selected>Choose...</option>
				<option >...</option>
				<option value="1">Al</option>
				<option value="2">Il</option>
				<option value="3">TX</option>
				<option value="4">WA</option>
			</select>
			<div class="help-block with-errors"></div>
		</div>

		<div class="form-group">
			<label for="zip" class="control-label">Zip</label>
			<input type="text" class="form-control" id="zip" placeholder="12345" pattern="^[0-9]{1,}$" data-minlength="5" required>
			<div class="help-block with-errors"></div>
		</div>

		<div class="form-group">
			<label for="inputPassword" class="control-label">Password</label>
			<div class="form-group col-sm-6">
				<input type="password" data-minlength="6" pattern="^[_A-z0-9!@#\$%\^&\*]{6,}$" class="form-control" id="inputPassword" placeholder="Password" required>
				<div class="help-block with-errors"></div>
				<div class="help-block">Minimum of 6 characters</div>
				<input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, these don't match" placeholder="Confirm" required>
				<div class="help-block with-errors"></div>
			</div>
		</div>

		<div class="form-group">
			<div class="checkbox">
				<label>
					<input type="checkbox" id="terms" data-error="Please Agree to the User Agreement" required>
					User Agreement
				</label>
				<div class="help-block with-errors"></div>
			</div>
		</div>

		<div class="form-group">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
	{{!-- <form class='cmxform' id='commentForm' method='GET' action=''>
		<div class="form-row">
			<div class="form-group">
				<label for="inputEmail4">Email</label>
				<input class="form-control" id="inputEmail4" minlength="2" placeholder="Email" name="inputEmail4" type="text" >
			</div>
			<div class="form-group">
				<label for="inputPassword4">Password</label>
				<input type="password" class="form-control" id="inputPassword4" placeholder="Password" name="inputPassword4">
			</div>
			<div class="form-group">
				<label for="confirm_password">Confirm Password</label>
				<input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password" name="confirm_password" >
			</div>
			<div class="form-group">
				<label for="inputFirstName">First Name</label>
				<input type="text" class="form-control" id="inputFirstName" placeholder="John" name="inputFirstName">
			</div>
			<div class="form-group">
				<label for="inputLastName">Last Name</label>
				<input type="text" class="form-control" id="inputLastName" placeholder="Doe" name="inputLastName">
			</div>
		</div>

		<div class="form-row">
			<label for="inputAddress">Address</label>
			<input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="inputAddress">
		</div>

		<div class="form-row">
			<label for="inputAddress2">Address 2</label>
			<input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" name="inputAddress2">
		</div>

		<div class="form-row">
			<div class="form-group">
				<label for="inputCC">Credit Card</label>
				<input type="password" class="form-control" id="inputCC" placeholder="xxxx-xxxx-xxxx-xxxx" name="inputCC">
			</div>
			<div class="form-group">
				<label for="inputCCV">CCV</label>
				<input type="password" class="form-control" id="inputCCV" placeholder="xxx" name="CCV">
			</div>
		</div>

		<div class="form-group">
			<div class="form-group">
				<label for="inputCity">City</label>
				<input type="text" class="form-control" id="inputCity" name="inputCity" type="text" >
			</div>
			<div class="form-group">
				<label for="inputState" title="Please select something!">State</label>
				<select id="inputState" class="form-control" name="inputState">
					<option selected>Choose...</option>
					<option >...</option>
					<option value="1">Al</option>
					<option value="2">Il</option>
					<option value="3">TX</option>
					<option value="4">WA</option>
				</select>
			</div>
			<div class="form-group">
				<label for="inputZip">Zip</label>
				<input type="text" class="form-control" id="inputZip" name="inputZip" type="text">
			</div>
		</div>

		<div class="form-row">
			<div class="form-check">
				<input class="form-check-input" type="checkbox" id="gridCheck" name="gridCheck">
				<label class="form-check-label" for="gridCheck">
					Please agree to our policy
				</label>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Sign in</button>
	</form> --}}

	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/validate-js/2.0.1/validate.min.js"></script>

	<script>
	$.validator.setDefaults({
		submitHandler: function() {
			alert("submitted!");
		}
	})

	$(document).ready(function() {
		$("#commentForm").validate({
			rules: {
				email: {
					required: true,
					email: true
				},
				password: {
					required: true,
					minlength: 5,
				},
				confirm_password: {
					required: true,
					minlength: 5,
					equalTo: "#password"
				},
				firstname: "required",
				lastname: "required",
				inputAddress: {
					required: true,
				},
				inputAddress2: {
					required: true,
				},
				inputCC: {
					required: true,
					minlength: 16
				},
				inputCCV: {
					required: true,
					minlength: 3
				},
				gridCheck: "required"
			},
			messages: {
				firstname: "Please enter your firstname",
				lastname: "Please enter your lastname",
				password: {
					required: "Please provide a password",
					minlength: "Your password must be at least 5 characters long"
				},
				confirm_password: {
					required: "Please provide a password",
					minlength: "Your password must be at least 5 characters long",
					equalTo: "Please enter the same password as above"
				},
				email: "Please enter a valid email address",
				agree: "Please accept our policy"
			}
		})
	})
	</script>

	<style>
	.cmxform p {
	    width: 100%;
	}
	.cmxform label {
	    color: #333;
	    float: left;
	}
	input.error {
	    border: 1px dotted red;
	}
	label.error{
	    width: 100%;
	    color: red;
	    font-style: italic;
	    margin-left: 120px;
	    margin-bottom: 5px;
	}
	.cmxform input.submit {
	    margin-left: 120px;
	}
	</style>
</div>
