<div class="container-fluid">
	{{#each images}}
		{{#each this.categories}}
			<div>
				<a href="/api/name?searchquery={{ this.name }}">
					<img src='{{{ this.image }}}' style="max-width:1080px"></img>
				</a>
			</div>
			<br>
		{{/each}}
	{{/each}}
</div>

					{{!-- {{#each images}}
					{{#each this.categories}}
					<p>{{this.id}}</p>
					{{/each}}
					{{/each}} --}}

{{!-- <script>
	$(document).ready(function() {
		$('.my_carousel').slick({
			centerMode: true,
			centerPadding: '',
			slidesToShow: 3,
			slidesToScroll: 1,
			autoplay: true,
			autoplaySpeed: 1500,
			responsive: [
				{
					breakpoint: 768,
					settings: {
						arrows: false,
						centerMode: true,
						centerPadding: '',
						slidesToShow: 3
					}
				},
				{
					breakpoint: 480,
					settings: {
						arrows: false,
						centerMode: true,
						centerPadding: '',
						slidesToShow: 1
					}
				}
			]
		});

		$('.slider-for').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			arrows: false,
			fade: true,
			asNavFor: '.slider-nav'
		});
		$('.slider-nav').slick({
			slidesToShow: 3,
			slidesToScroll: 1,
			asNavFor: '.slider-for',
			dots: true,
			centerMode: true,
			focusOnSelect: true
		});
	})
</script> --}}




