<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li class="active"><a href="/api/">Home<span class="sr-only">(current)</span></a></li>
			<li><a href="#">Link</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Catagory <span class="caret"></span></a>
				<ul class="dropdown-menu">
					{{#each subCatagories}}
							<li class="dropdown">
								<a href="/api/name?searchquery={{ this.name }}"><li class="dropdown-item">{{ this.name }}</li></a>
								<ul>
									{{#each page_keywords}}
									 	<a href="/api/name?searchquery={{ this }}"><li class="dropdown-item">{{ this }}</li></a>
									{{/each}}
								</ul>
							</li>
					{{/each}}
				</ul>
			</li>
		</ul>
	</div>
	<form class="navbar-form navbar-right" role="search">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Search">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</nav>