<div class="container-fluid">
	<hr>
	<div class='row justify-content-md-center'>
		<div class="col-6">
			<h4>{{ singleProduct.name }}</h4>
			<div>
				<img src="{{ singleProduct.image_groups.0.images.0.dis_base_link }}"></img>
				<p>Price: ${{ singleProduct.price }} USD</p>
				<p>{{ singleProduct.page_description }}</p>
			</div>
			<div class="my_carousel">
				{{#each image}}
					<div>
						<img src="{{ this}}">Working</img>
					</div>
				{{/each}}
			</div>
		</div>
	</div>

	<script>
		$(document).ready(function() {

			$('.my_carousel').slick({
				dots: true,
				infinite: true,
				speed: 500,
				fade: true,
				cssEase: 'linear',
				autoplay: true,
  				autoplaySpeed: 3000,
				slidesToShow: 1,
    			centerMode: true
			});
		})
	</script>

	<style> /* centers element */
		img {
			width: auto;
			margin: 0 auto;
		}
	</style>
</div>
<br>