<style>
div.selected {
	background-color:#1F75CC;
	color:white;
	z-index:100;
}

.productpopup {
	background-color:#FFFFFF;
	border:1px solid #999999;
	cursor:default;
	display:none;
	margin-top: 15px;
	position:absolute;
	text-align:left;
	width:394px;
	z-index:50;
	padding: 25px 25px 20px;
}

</style>

<div class="container-fluid">
	<div class="my_carousel">
		{{#each products.hits}}
		<div>
			<img src="{{ this.image.dis_base_link }}"></img>
			<a href="/api/name?product={{ this.product_id }}"><p>{{ this.product_name }}</p></a>
		</div>
		{{/each}}
	</div>

	<hr class="my-4">  

	<div class='row custompopup'>
		{{#each products.hits}}
		<div class='col-md-4 productlist-{{@index}} product'>
			<img src="{{ this.image.dis_base_link }}"></img>
			<a href="/api/name?product={{ this.product_id }}"><p>{{ this.product_name }}</p></a>
			<a href="" class="info">+ Quick Detail</a>
			<div class="productpopup popup" id="{{@index}}">
				<p> Working {{ this.product_name }} </p>
				<p> ${{ this.price }} USD</p>
				<td><a href="#" class="btn btn-success btn-block">Add to Cart <i class="fa fa-angle-right"></i></a></td>
			</div>
		</div>

			
		{{/each}}
	</div>

	

	<script>
	$(document).ready(function() {
		$('.my_carousel').slick({
			centerMode: true,
			centerPadding: '60px',
			slidesToShow: 3,
			autoplay: true,
			autoplaySpeed: 2000,
			infinite: true,
		  	variableWidth: true,
			responsive: [
			{
				breakpoint: 768,
				settings: {
					arrows: false,
					centerMode: true,
					centerPadding: '40px',
					slidesToShow: 3
				}
			},
			{
				breakpoint: 480,
				settings: {
					arrows: false,
					centerMode: true,
					centerPadding: '40px',
					slidesToShow: 1
				}
			}
			]
		})
	})
	</script>

	<script>
	$(document).ready(function() {
		function deselect(e) {
			$('.popup').slideFadeToggle(function() {
				e.removeClass('selection')
			});    
		}

		$(function() {
			$('.info').bind('click', function() {
				var ele = $(this)
				if(ele.hasClass('selection')) {
					deselect(ele)               
				} else if (!ele.hasClass('selection')) {
					ele.addClass('selection')
					//$('.popup').appendTo($(this))
					if(ele.hasClass('selection'))
						$('.popup').slideFadeToggle()
				}
				return false;
			})

			$('.close').bind('click', function() {
				deselect($('.info'))
				return false
			})

			$.fn.slideFadeToggle = function(easing, callback) {
				return this.fadeIn( "slow" )
				//return this.fadeIn( "slow" ).appendTo($(this))
			}
		})
	})
	</script>
</div>
<br>