<div class="container-fluid">
	<!-- <a href="/api/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Home</a> -->
	{{!-- <a href="/api/catalog" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Catalog</a>
	<a href="/api/suggestion" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Search Suggestion</a>
	<br> --}}
	<hr>

	<div>
		{{!-- {{#each suggested.category_suggestions.categories}}
			<a href="/api/name?searchquery={{ this.id }}">Suggested</a>
		{{/each}} --}}
		{{#each suggested}}
			{{#if brand_suggestions}}
				<div>{{ this.brand_suggestions }}</div>
			{{/if}}
			{{#if category_suggestions}}
				<div>{{ this.category_suggestions }}</div>
			{{/if}}
			{{#if content_suggestions}}
				<div>{{ this.content_suggestions }}</div>
			{{/if}}
			{{#if custom_suggestions}}
				{{#if suggested_terms}}
					{{#each this.suggested_terms}}
						{{#if terms}}
							{{#each this.terms}}
								{{#if value}}
									<div><a href="/api/name?searchquery={{ this.value }}">{{ this.value }}</a></div>
								{{/if}}
							{{/each}}
						{{/if}}
					{{/each}}
				{{/if}}
			{{/if}}
			{{#if products}}
				{{#each this.products}}
					<a href="/api/name?searchquery={{ this.product_id }}">{{ this.product_name }}</a>
				{{/each}}
			{{/if}}
		{{/each}}
	</div>
</div>
<br>