.cmxform p {
    width: 100%;
}
.cmxform label {
    color: #333;
    float: left;
}
input.error {
    border: 1px dotted red;
}
label.error{
    width: 100%;
    color: red;
    font-style: italic;
    margin-left: 120px;
    margin-bottom: 5px;
}
.cmxform input.submit {
    margin-left: 120px;
}

a.selected {
	background-color:#1F75CC;
	color:white;
	z-index:100;
}

.messagepop {
	background-color:#FFFFFF;
	border:1px solid #999999;
	cursor:default;
	display:none;
	margin-top: 15px;
	position:absolute;
	text-align:left;
	width:394px;
	z-index:50;
	padding: 25px 25px 20px;
}

label {
	display: block;
	margin-bottom: 3px;
	padding-left: 15px;
	text-indent: -15px;
}

.messagepop p, .messagepop.div {
	border-bottom: 1px solid #EFEFEF;
	margin: 8px 0;
	padding-bottom: 8px;
}


